.container {
  height: 100vh;
}

.sidebar {
  background-color: #f0f0f0;
  padding: 20px;
  height: 100%;
  overflow-y: auto;
}

.main-content {
  position: relative;
  height: 100vh;
}

.main-content > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

button.disabled, .MuiButton-root.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.overlay {
  position: absolute;
  top: 20px;
  left: 20px;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  z-index: -1;
}

.overlay label, .overlay select {
  display: block;
  margin-bottom: 10px;
}